## Observations and Insights

In [70]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
complete_mice_df = pd.merge(mouse_metadata,study_results, on="Mouse ID")

# Display the data table for preview
complete_mice_df.head(15)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0

In [8]:
# Checking the number of mice.
complete_mice_df["Mouse ID"].count()

1893

In [74]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# complete_mice_df["Mouse ID"].nunique()
dupl_mice= complete_mice_df.groupby("Mouse ID")
mice_duplicated_df = pd.DataFrame(dupl_mice["Timepoint"].max())
mice_duplicated_df
# dupl_mice.head()

          Timepoint
Mouse ID
a203             45
a251             45
a262             45
a275             45
a366             30
...             ...
z435             10
z578             45
z581             45
z795             45
z969             45

[249 rows x 1 columns]

In [86]:
# Optional: Get all the data for the duplicate mouse ID. 
all_mice_duplicated_df = pd.DataFrame(dupl_mice.max())
all_mice_duplicated_df

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
a203,Infubinol,Female,20,23,45,67.973419,2
a251,Infubinol,Female,21,25,45,65.525743,1
a262,Placebo,Female,17,29,45,70.717621,4
a275,Ceftamin,Female,20,28,45,62.999356,3
a366,Stelasyn,Female,16,29,30,63.440686,1
...,...,...,...,...,...,...,...
z435,Propriva,Female,12,26,10,48.710661,0
z578,Ramicane,Male,11,16,45,45.000000,0
z581,Infubinol,Female,24,25,45,62.754451,3
z795,Naftisol,Female,13,29,45,65.741070,3
z969,Naftisol,Male,9,30,45,73.867845,4

In [88]:
cleaned_mice_df = complete_mice_df.drop_duplicates("Mouse ID")

# Create a clean DataFrame by dropping the duplicate mouse by its ID.

# cleaned_mice_df["Mouse ID"].count()
cleaned_mice_df.head()

In [91]:
# Checking the number of mice in the clean DataFrame.
cleaned_mice_df
# sort = cleaned_mice_df.sort_values(by =["Tumor Volume (mm3)"], ascending=True)
# sort

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
1858,z314,Stelasyn,Female,21,28,0,45.0,0
1860,z435,Propriva,Female,12,26,0,45.0,0
1863,z581,Infubinol,Female,24,25,0,45.0,0
1873,z795,Naftisol,Female,13,29,0,45.0,0
1883,z969,Naftisol,Male,9,30,0,45.0,0

## Summary Statistics

In [57]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
micegroup = cleaned_mice_df.groupby(["Drug Regimen"]).mean()
# micegroup = micegroup["Tumor Volume (mm3)"]
micegroup

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,
Capomulin,14.040,20.120,0.0,45.0,0.0
Ceftamin,12.800,27.400,0.0,45.0,0.0
Infubinol,16.400,27.320,0.0,45.0,0.0
Ketapril,14.720,28.080,0.0,45.0,0.0
Naftisol,12.240,27.240,0.0,45.0,0.0
Placebo,10.680,28.040,0.0,45.0,0.0
Propriva,9.880,27.240,0.0,45.0,0.0
Ramicane,10.840,20.000,0.0,45.0,0.0
Stelasyn,13.125,27.875,0.0,45.0,0.0
Zoniferol,12.600,27.920,0.0,45.0,0.0

In [53]:
micemean = np.mean(micegroup)
micemedian = np.median(micegroup)
micevariance = np.var(micegroup)
miceStandDev = np.std(micegroup)
print(micemean)
print(micemedian)
print(micevariance)
print(miceStandDev)

UnsupportedFunctionCall: numpy operations are not valid with groupby. Use .groupby(...).mean() instead

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen